* {
    box-sizing: border-box;
}
body {
    -webkit-user-select: none; /* WebKit browsers */
    user-select: none; /* Standard */ 
    margin: 0;
    font-family: Lexend;
    color: rgb(231, 231, 231);
    height: 100vh;
}
.main {
    background: linear-gradient(#17111d, #28202e, #2f223a);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.3); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.panel {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    width: 96%;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Lexend';
    font-weight: 900; /* Corrected from font: 900; */
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: white;
}
.panel-doc {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: auto;
    margin-right: 6px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Lexend';
    font-weight: 900; /* Corrected from font: 900; */
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: white;
}
.panel-btn {
    background-color: transparent;
    font-family: 'Lexend';
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

h1 {
    font-family: 'Days_one';
    font-size: 28px;
    font-weight: 300;
    margin: 0px;
}
.horizontal-line {
    width: 80%; /* Make the line span the entire width */
    height: 2px; /* Thickness */
    background-color: rgba(255, 255, 255, 0.1); /* Color of the line */
    margin: 20px 0; /* Optional spacing around the line */
}


.path {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.vertical-line {
    width: 2px;
}
.path-btn {
    font-family: 'Exo_2';
    font-weight: 400;
    width: 80px;
    color: #ffffff;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}
.path-btn:active {
    background-color: rgba(88, 88, 88, 0.25);
}

.slider {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.slider-input {
    width: 100%;
}


.option-div {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}
.option {
    color: white;
    width: 100px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    background: rgba(0, 0, 0, 0.35); /* Darker button background */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    appearance: none; /* Remove default styling */
    -webkit-appearance: none;
}


.progress {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.textbox {
    color: white;
    padding-left: 10px;
    font-size: 14px;
    width: 210px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    background: rgba(0, 0, 0, 0.35); /* Darker button background */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
}
.btn {
    font-family: 'Exo_2';
    font-weight: 400;
    width: 80px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    background: rgba(0, 0, 0, 0.25); /* Darker button background */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Subtle border */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn:hover {
    background: rgba(255, 255, 255, 0.2); /* Slightly brighter on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
}
.btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Darker shadow when clicked */
}
.text-button {
    font-family: 'Exo_2';
    margin-top: 25px;
    margin-bottom: 25px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}


.info {
    padding-top: 32px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 52%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 360px;
    height: 450px;
    max-height: 450px;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px); 
    background: rgba(17, 13, 31, 0.656);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.info.active {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
}
.info.documentation {
    padding-top: 0px;
    text-align: start;
    align-items: start;
}

.pop-up {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 360px;
    height: 180px;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); 
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.pop-up.active {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
}
.pop-up_button {
    width: 120px; 
    height: 30px; 
    border-radius: 6px;
    font-family: 'Exo_2';
    font-weight: 400;
    width: 80px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.pop-up_button:hover {
    background: rgba(255, 255, 255, 0.2); /* Slightly brighter on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); /* Darker shadow on hover */
}
.pop-up_button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Darker shadow when clicked */
}


@font-face {
    font-family: 'Lexend';
    src: url("fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Days_one';
    src: url("fonts/Days_One/DaysOne-Regular.ttf");
}

@font-face {
    font-family: 'Exo_2';
    src: url("fonts/Exo_2/Exo2-VariableFont_wght.ttf");
}