* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    font-family: Lexend;
    color: rgb(231, 231, 231);
    height: 100vh;
}

.main {
    background: linear-gradient(#17111d, #28202e, #2f223a);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.overlay {
    border-radius: 8px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}
.overlay.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.info,
.pop-up {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    background: rgba(17, 13, 31, 0.656);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    align-items: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.info {
    margin-top: 6px;
    height: 450px;
    max-height: 450px;
    padding-top: 32px;
    padding-bottom: 4px;
}

.info.active,
.pop-up.active {
    opacity: 1 !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

.info.documentation {
    padding-top: 0;
    text-align: start;
    align-items: start;
}

.pop-up {
    height: 160px;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}

.pop-up-btn {
    width: 50%;
    height: 30px;
    font-family: 'Exo_2';
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease;
}

.pop-up-btn:active {
    background-color: rgba(88, 88, 88, 0.25);
}

.drag-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
}

.panel,
.panel-doc {
    display: flex;
    flex-direction: row;
    font-family: 'Lexend';
    font-weight: 900;
    font-size: 19px;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 8px;
    margin-bottom: 12px;
}

.panel {
    justify-content: baseline;
    width: 96%;
    margin-left: 12px;
    margin-right: 12px;
}

.panel-doc {
    justify-content: end;
    margin-left: auto;
    margin-right: 6px;
}

.panel-btn {
    background-color: transparent;
    font-family: 'Lexend';
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.advanced {
    padding-left: 12%;
    padding-right: 12%;
    display: none;
    width: 100%;
    margin: 0px 0;
    margin-top: 0px;
    gap: 8px;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
}

h1 {
    font-family: 'Days_one';
    font-size: 28px;
    font-weight: 300;
    margin: 0;
}

.horizontal-line {
    width: 80%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
}

.path {
    margin: 25px 0;
    height: 32px;
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.vertical-line {
    background: rgba(255, 255, 255, 0.1);
    width: 1px;
}

.path-btn {
    font-family: 'Exo_2';
    font-weight: 400;
    width: 25%;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease;
}
.path-btn:active {
    background-color: rgba(88, 88, 88, 0.25);
}

.slider {
    margin-top: 0;
    margin-bottom: 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.slider-label {
    font-weight: 300;
}

input {
    width: 100%;
}

.option-div {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.option {
    color: white;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.1);
    appearance: none;
    -webkit-appearance: none;
}

.progress {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.progress-btn {
    font-family: 'Exo_2';
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.25);
    width: 100% !important;
    height: 36px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 6px;
    border: 0 !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    transition: background-color 0.2s ease;
}
.progress-btn:active {
    background-color: rgba(88, 88, 88, 0.25);
}

.textbox {
    width: 75%;
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 0px; 
    border: 0px;
}

.btn {
    font-family: 'Exo_2';
    font-weight: 400;
    width: 80px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.text-button {
    font-family: 'Exo_2';
    margin: 25px 0;
    background: none;
    border: none;
    color: white;
    font-weight: 320;
    font-size: 16px;
    cursor: pointer;
}

@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: 'Lexend';
    src: url("fonts/Lexend/Lexend-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Days_one';
    src: url("fonts/Days_One/DaysOne-Regular.ttf");
}

@font-face {
    font-family: 'Exo_2';
    src: url("fonts/Exo_2/Exo2-VariableFont_wght.ttf");
}